/*CSS general de elementos*/

body {
    background-color: #141414;
    color: white;
}
div {
    border: 0.5px solid #092029;
    padding: 0px;
    margin: 0px;
}
/*CSS IDs y Clase*/
.eslogan {
    color: #33CCFF;
}
.titleExpSkills {
    color: #0E384C;
}
.expSkills {
    color:#0E384C; 
}
/*Sección div*/
.fondoBloque {
    background-color: #092029;
}
/*Textos de bloque*/
.titleBloque {
    color: #33CCFF;
}
.textBloque {
    color: #33CCFF; 
}
#proyectos {
    padding: 10px;
    margin: 0px;
}